* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    position: relative;
}
.cssload-loaderWrap{
    width: 100%;
    height: 100vh;
    background-color: #bdcab6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all 0.5s;

}
  .cssload-loader {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .cssload-inner {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  
  .cssload-inner.cssload-one {
    left: 0%;
    top: 0%;
    animation: cssload-rotate-one 1.15s linear infinite;
    -o-animation: cssload-rotate-one 1.15s linear infinite;
    -ms-animation: cssload-rotate-one 1.15s linear infinite;
    -webkit-animation: cssload-rotate-one 1.15s linear infinite;
    -moz-animation: cssload-rotate-one 1.15s linear infinite;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  
  .cssload-inner.cssload-two {
    right: 0%;
    top: 0%;
    animation: cssload-rotate-two 1.15s linear infinite;
    -o-animation: cssload-rotate-two 1.15s linear infinite;
    -ms-animation: cssload-rotate-two 1.15s linear infinite;
    -webkit-animation: cssload-rotate-two 1.15s linear infinite;
    -moz-animation: cssload-rotate-two 1.15s linear infinite;
    border-right: 3px solid #668655;
  }
  
  .cssload-inner.cssload-three {
    right: 0%;
    bottom: 0%;
    animation: cssload-rotate-three 1.15s linear infinite;
    -o-animation: cssload-rotate-three 1.15s linear infinite;
    -ms-animation: cssload-rotate-three 1.15s linear infinite;
    -webkit-animation: cssload-rotate-three 1.15s linear infinite;
    -moz-animation: cssload-rotate-three 1.15s linear infinite;
    border-top: 3px solid #000000;
  }
  
  @keyframes cssload-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
              transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
              transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-one {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes cssload-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
              transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
              transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-two {
    0% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes cssload-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
              transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
              transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  
  @-webkit-keyframes cssload-rotate-three {
    0% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.384);
    height: 70px;;
    position: fixed;
    z-index: 2;
}
a{
    text-decoration: none;
}
.workArea {
    max-width: 1000px;
    margin: 0 auto;
}
.menu__button {
    margin-top: 18px;
    margin-left: 10px;
    background: none;
    border: none;
}
.hideMenu {
    width: 200px;
    height: 240px;
    display: none;
    position: fixed;

}
.hideMenu__secshion  {

    color: white;
    height: 60px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    font-family: 'Oswald';
    font-size: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}    
.hideMenu__secshion:hover {
    color: #668757b4;

}

.menu__buttonClose {
    display: none;
}
.home {
    width: 100%;
    min-height: 600px;
    background-image: url(img/bg/bgSmall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    padding-top: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__name{   
    font-family: "Fredericka the Great";
    font-size: 55px;
    font-weight: normal;
    text-align: center ;
    margin-bottom: 10px;
    
}
.about {
    width: 100%;
    background: rgba(102, 135, 87, 0.43);
    padding: 20px;
}
.about__name{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 56px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;
}
.about__imgwrap {
    display: flex;
    width: 100%;
    justify-content: center;
}
.about__text-bold{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;    
    font-size: 21px;
    line-height: 31px;
    color: #000000;
    margin-top: 20px;
}
.about__step {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}
.about__imgwrap2 {
    margin-right: 10px;
}
.about__imgwrap3 {
    margin-left: 10px;
}
.about__icons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 20px;
}
.about__img-lang{
    margin-left: 50px;
}
.about__img-lang{
    padding-top: 5px;
}
.portfolio {
    width: 100%;
    padding: 20px;
    background-image: url(img/backgroundPortfolioSmall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio__name{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 56px;
    color: #668757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;

}
.portfolio__slaider {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.329);
    padding-bottom: 20px;
}
.portfolio__slaiderWrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.portfolio__slideButtom{
    border: none;
    background: none;
}
.portfolio__slideButtom:hover{
    background-color: rgba(255, 255, 255, 0.322);
}

.sliderImg{
    width: 70vw;
    height: 49vw;
}


.slider {
    width: 70vw;
    height: 49vw;
    margin: 20px auto;
    overflow: hidden;
}
.polosa {
    position: relative;
    width: 140vw;
    left: 0;
    transition: all ease 1s;
}
.polosa img {
    float: left;
}
.polosa::after {
    content: "";
    display: block;
    clear: both;
}
.buttonWrapper{
    display: flex;
    justify-content: center ;
}
.sliderInnerButton{
    width: 110px;
    height: 40px;
    border: solid 2px #668757;
    color: #668757;
    background: rgba(255, 255, 255, 0.747);
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
.sliderInnerButton a{
    color: #668757;
    text-decoration: none;
}
.slaiderButton {
    width: 110px;
    height: 40px;
    overflow: hidden;
}
.polosaButton{
    display: flex;
    position: relative;
    width: 220px;
    left: 0;
    transition: all ease 1s;
}
.polosaButton img {
    float: left;
}
.polosaButton::after {
    content: "";
    display: block;
    clear: both;
}

.portfolio__buttonWrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio__button{
    width: 100px;
    height: 30px;
    border: solid 2px #668757;
    color: #668757;
    background: rgba(255, 255, 255, 0.747);
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.portfolio__button2 {
    width: 120px;
    height: 40px;
    border: solid 2px #668757;
    color: #668757;
    background: rgba(255, 255, 255, 0.747);
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
.portfolio__button3 {
    width: 160px;
    height: 55px;
    border: solid 2px #668757;
    color: #668757;
    background: rgba(255, 255, 255, 0.747);
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
.portfolio__button:hover {
    background: rgba(255, 255, 255, 0.877);
    border: 3px solid #668757;
}
.portfolio__buttonText{
    color: #668757;
}


/*Модальное окно*/

.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}

.modal-button {
    border: none;
    background: none;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
}
.modal-button2 {
    border: none;
    background: none;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.modal-button3 {
    border: none;
    background: none;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.modal-button4 {
    border: none;
    background: none;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);

}
.modal:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 30px auto;
    width: 85%;
}
.modal-img{
    width: 100%;
}
.modal-ImgMobile{
    width: 100%;
}

.modal-dialog2 {
    width: 85%;
    display: none;
    margin: 30px auto;
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 15px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}
.modal-titleLink{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #668757;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;
}
.modal-version{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.644);
}
.modal-versioImg{
    width: 30px;
}
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #668757;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
.close__end{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}




.contacts {
    width: 100%;
    background: rgba(102, 135, 87, 0.43);
    padding: 20px;
}
.contacts__name{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 56px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-bottom: 30px;
}
.contacts__wrap{
    width: 100%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.329);
    padding: 20px;
}
.contacts__EmailWrap{
    display: flex;
    justify-content: space-between;
}
.contacts__SkypeWrap{
    display: flex;
    justify-content: space-between;
}
.contacts__WhatsAppWrap{
    display: flex;
    justify-content: space-between;
}
.contacts__title{
    font-family: 'Fredericka the Great';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 5px;
}
.contacts__inf{
    font-family: 'Oswald';
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
    color: rgb(158, 158, 158);
}
@media (min-width: 576px) {
    .modal-dialog {
            width: 85%;
        margin: 30px auto; /* для отображения модального окна по центру */
    }
    .modal-body2{
        display: grid;
        grid-template-columns: 48% 48%;
    }
    

  }
  @media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
    .modal-title {
        font-size: 36px;
        text-align: center;
        margin-top: 20px;
    }
  }

@media(min-width: 1000px) {
    .home {
        background-image: url(img/bg/bg_home1100px.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 50px;
        padding-top: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about {
        padding: 50px;
    }
    .modal-body2{
        display: grid;
        grid-template-columns: 19% 19% 19% 19% 19%;
        justify-content: center;
    }



}


